<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BinaryIO" version="1.1.5" targetFramework="net472" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="itext7" version="7.1.9" targetFramework="net461" />
  <package id="LogAdapterNet" version="1.1.0" targetFramework="net472" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net461" />
  <package id="NLog" version="4.6.8" targetFramework="net461" />
  <package id="NLog.Config" version="4.6.8" targetFramework="net461" />
  <package id="NLog.Schema" version="4.6.8" targetFramework="net461" />
  <package id="ObjectDatabase" version="1.2.0" targetFramework="net461" />
  <package id="Pdfium.Net.SDK" version="4.21.2704" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net461" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.6.1" targetFramework="net461" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net461" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net461" />
</packages>